.calculator-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 400px;
  margin: 200px auto;
}

.calculator-div button {
  padding: 20px;
  border: 1px solid gainsboro;
}

.result {
  grid-column: 1 / 5;
  text-align: right;
  background-color: gray;
  padding: 20px;
  color: white;
}

.zero {
  grid-column: 1 / 3;
}

.highlight {
  background-color: #ff9f46;
}
